body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
p {
  text-align: center;
}

/* navigation bar */
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #006b6b;
  padding-left: 0;
}

.nav-links div {
  display: flex;
}

.nav-links li {
  list-style: none;
  font-size: 20px;
  letter-spacing: 2px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 14px 16px;
}

.nav-links li:hover:not(.active) {
  background-color: lightseagreen;
}

.nav-links li a.active {
  background-color: #4caf50;
}

.logout-button {
  width: fit-content;
  background: none !important;
  border: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 0 16px;
}

.logout-button:hover {
  background-color: lightseagreen;
  cursor: pointer;
}
/* end */

/* home and search page book list */
.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 16px;
}

.book-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  margin: 16px auto;
}

.container-single-book-index {
  width: 300px;
  margin-bottom: 12px;
}

.container-single-book-index a {
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
  height: 480px;
}

.book-row p {
  margin: 8px auto;
}
/* end */

/* login and signup forms */
form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

form div {
  display: flex;
  margin: 16px 0;
}

label {
  flex: 1;
}

input {
  flex: 2;
}

button {
  flex: 1;
  width: 200px;
  margin: auto;
}
/* end */

/* search form */
.search-form {
  flex-direction: row;
  margin-bottom: 32px;
}
/* end */

/* Admin table */
table {
  border-collapse: collapse;
  width: 40%;
  margin: 32px auto;
}

td,
th {
  border: 1px solid black;
  padding: 3px;
}

thead tr th:nth-child(1),
thead tr th:nth-child(2) {
  text-align: left;
}

tbody tr td:nth-child(3) {
  text-align: center;
}

tbody tr td:nth-child(4),
tbody tr td:nth-child(5) {
  text-align: center;
  width: 60px;
}
tbody tr td:nth-child(5) {
  text-decoration: underline;
  color: blue;
}
tbody tr td:nth-child(5):hover {
  cursor: pointer;
}
/* end */

/* footer */
footer {
  background-color: #006b6b;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 180px;
}

footer a {
  color: #ffffff;
}
footer img {
  height: 120px;
}
.social-icons {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* end */

@media screen and (max-width: 659px) {
  form,
  table {
    width: 90%;
  }
}

@media screen and (min-width: 660px) and (max-width: 991px) {
  form,
  table {
    width: 60%;
  }
}
